
mtmc_env/
venv/
env/

.DS_Store
.AppleDouble
.LSOverride

__pycache__/
*.py[cod]
*$py.class
*.so

data/
results/



*.pt
*.pth
*.onnx
models/*
.huggingface/


runs/
*.log


.vscode/
.idea/
*.swp
.env

TrackEval/

*.pt
*.pth
*.weights

.cursor/