mtmc_env/*
env/
env/

.DS_Store
.AppleDouble
.LSOverride

__pycache__/
*.py[cod]
*$py.class
*.so

data/videos/*.mp4
data/videos/*.avi
data/videos/*.mov
data/videos/*.mkv

*.pt
*.pth
*.onnx
models/yolo_weights/*
models/reid_weights/*
.huggingface/

runs/
*.log

.vscode/
.idea/
*.swp